.filter-component-wrapper {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.filter-wrapper {
  margin-bottom: 2rem;
}

.btn {
  margin: auto;
  margin-top: 0.5rem;
  width: 15rem;
}